@import url("https://fonts.googleapis.com/css?family=Roboto|Ubuntu+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  background-color: rgb(206, 248, 248);
  font-family: "Roboto", sans-serif;
}

#menu-burger {
  text-align: right;
  margin: 0.25em 0.25em 0 0;
  cursor: pointer;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
  padding: 1em;
  margin: 1em;
  background-color: rgb(255, 254, 254, 0.9);
  border-radius: 50%;
}

nav ul {
  display: none;
  list-style: none;
}

nav a {
  text-decoration: none;
  font-family: "Ubuntu Mono", monospace;
  font-size: 1.5rem;
}

nav a:visited {
  color: black;
}

nav a:hover {
  color: rgb(34, 110, 110);
  border-bottom: 1px solid black;
  padding-bottom: 0.25rem;
}

.expand-nav {
  top: -225px;
  right: -225px;
  height: 450px;
  width: 450px;
  transition: width 0.5s ease;
}

.expand-nav #menu-burger {
  position: relative;
  right: 225px;
  top: 225px;
}

.toggle-nav ul {
  position: relative;
  right: 225px;
  top: 225px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 1em;
}

.toggle-nav li {
  margin-top: 1em;
}

.paragraph {
  margin: 2.5em;
  text-align: center;
}

.paragraph-work {
  margin: 2.5em;
  text-align: center;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas:
    "img"
    "sg"
    "dg"
    "bt";
}

.img-work {
  grid-area: img;
}

.second-grid {
  grid-area: sg;
}

.desc-grid {
  grid-area: dg;
}

.bt {
  flex: 1 1 auto;
  margin: 10px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(0, 0, 0);
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-color: white;
}

.bt:hover {
  box-shadow: 1px 1px 1px 1px grey;
}

h1,
h2 {
  font-family: "Ubuntu Mono", monospace;
}

h1 {
  margin: 6rem 0 1.5rem;
}

.smallImg {
  max-width: 50%;
}

.img-work {
  margin: 1em;
  object-fit: cover;
  /*   height: 40%;
 */
  max-width: 90%;
  position: relative;
}

footer {
  width: 100%;
  height: 40px;
  align-items: center;
}

footer ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  color: rgb(0, 255, 255);
}

@media screen and (min-device-width: 480px) {
  #menu-burger {
    display: none;
  }

  nav {
    margin: 0;
    height: default;
    width: 100%;
    border-radius: 0;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .paragraph-work:nth-child(even) {
    margin: 2.5em;
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
      "sg sg"
      "img dg"
      "img dg"
      "bt bt";
  }

  .paragraph-work:nth-child(odd) {
    margin: 2.5em;
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
      "sg sg"
      "dg img"
      "dg img"
      "bt bt";
  }
}
